body{
    background-color: black;
    color: aqua;
}

figure{
    border:3px solid rgb(93, 179, 179);
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    text-align: center;
}

figcaption{
    color: rgb(193, 197, 200);
}

.back-button{
    border: 2px solid aqua;
    border-radius: 10px;
    padding:5px 10px;
    font-size: 28px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.1);
    color: aqua;
}

.back-button:hover{
    font-size: 30px;
    background-color: white;
    color: black;
    transition-duration: 0.2s;
    cursor: pointer;
    padding: 4px 9px;
}