body{
    background-color: rgb(93, 98, 103);
    color: rgb(0, 0, 0);
}

header{
    color: black;
}

.title{
    text-align: center;
    font-size: 50px;
}


.name{
    font-size: 30px;
    text-align: center;
}

.subjects{
    text-align: center;
}

.button{
    transform: color background-color;
    transition-duration: 0.3s;
    display: inline-block;
    width: 450px;
    height: 100px;
    align-self: center;
    border: 2px solid aqua;
    border-radius: 15px;
    margin: 20px auto;
    font-size: 40px;
    background-color: black;
    color: aqua;
    font-weight: bold;
    cursor: pointer;
}

.button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(85, 177, 177);
    font-size: 41px;
}