body{
    background-color: rgb(20, 20, 20);
    color: rgb(0, 194, 194);
    font-family: serif;
}

h1{
    font-family: serif;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.question{
    font-family: serif;
    font-size: 35px;
    text-align: center;
    color: rgb(228, 0, 0);
    font-weight: 700;
    padding-top: 10px;
    line-height: 1.3;
    width: 700px;
    border: 2px solid rgba(255, 255, 255,0.1);
    border-radius: 15px;
    margin: 10px auto;
}

.answer{
    font-size: 20px;
}

.qa{
    background-color: rgb(40, 40, 40);
    padding-bottom: 10px;
    letter-spacing: 2px;
    word-spacing: 1px;
    line-height: 20px;
    text-align: left;
    border: 3px solid aqua;
    border-radius: 20px;
    width: 90%;
    margin: 30px auto;
    padding-left: 30px;
    padding-right: 30px;
}

.qa .answerlist{
    background-color: rgb(40, 40, 40);
    font-weight: bold;
}

.legenda{
    background-color: white;
    color: black;
    font-size: 17px;
    font-weight: bold;
    width:50%;
    border-radius: 15px;
}

figcaption{
    color: rgb(144, 144, 144);
}

.enacba{
    font-weight: bold;
    font-size: 23px;
    color: rgb(86, 194, 67);
}

.name{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

button{
    color: rgb(0, 194, 194);
    background-color: rgb(20, 20, 20);
    width: 100px;
    height: 50px;
    border: 3px solid aqua;
    border-radius: 15px;
    font-size: 22px;
    font-weight: 700;
}

button:hover {
    color:rgb(255, 255, 255);
    background-color: rgba(0, 255, 255,0.3);
    font-size: 24px;
    transition-duration: 0.2s;
}

.top{
    width: 70px;
    height: 40px;
}

.top-center{
    text-align: center;
}