body{
    background-color: black;
    color: aqua;
}

.title{
    text-align: center;
}

.name{
    font-size: 20px;
    text-align: center;
}

.subjects{
    text-align: left;
    font-size: 30px;
}

